.Add-Questions-component .add-question-form {
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px 60px;
    font-size: 18px;
    margin-top: 20px;
}

.Add-Questions-component .add-question-form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.Add-Questions-component .add-question-form input, textarea, select, option {
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 3px solid lightgray;
    background-color: rgba(0,0,0,0);
    margin-bottom: 15px;
    width: 50%;
}

.Add-Questions-component .add-question-form input:focus, textarea:focus, select:focus {
    border-color: pink;
    outline: none;
    border-style: solid;
}

.Add-Questions-component .add-question-form input:hover, textarea:hover, select:hover {
    border-color: pink;

}

.Add-Questions-component .add-question-form input[type=submit] {
    margin-top: 40px;
    cursor: pointer;
}

.Add-Questions-component .add-question-form input[type=submit]:hover {
    border-color: green;
}

.Add-Questions-component .add-question-form .add-button, .question-options {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: 3px solid lightgray;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.Add-Questions-component .add-question-form .question-options {
    min-width: 200px;
    position: relative;
}

.Add-Questions-component .add-question-form svg {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 8px;
}
.Add-Questions-component .add-question-form svg:hover {
    fill: rgb(238, 83, 83);
}
.Add-Questions-component .add-question-form .add-button:hover {
    border-color: green;
}

.Add-Questions-component .add-question-form .hide-option-div {
    display: none;
}

@media only screen and (max-width: 700px) {
    .Add-Questions-component .add-question-form input, textarea, select, option {
        width: 100%;
    }

    .Add-Questions-component .add-question-form {
        padding-left: 20px;
    }
    
}