.Bot-Card {
    margin: 40px 0;
    box-shadow: 0px 0px 3px #181818;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
}

.Bot-Card .bot-pfp {
    position: relative;
    border: 3px solid gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(49, 51, 56);
    padding: 5px;
}

.Bot-Card .bot-pfp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.Bot-Card .bot-pfp .bot-status {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(35, 165, 95);
    border: 3px solid rgb(57, 60, 65);
    display: flex;
}

.Bot-Card .bot-info .bot-name {
    font-size: 20px;
    line-height: 18px;
}

.Bot-Card .bot-info .bot-pid {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: gray;
    line-height: 18px;
}

.Bot-Card:hover {
    box-shadow: 0 0 6px 1px #181818;    
}

@media only screen and (max-width : 1300px) {
     .Bot-Card {
        width: 70%;
     }
}

@media only screen and (max-width: 1000px) {
    .Bot-Card {
        width: 100%;
    }
}