.active-component-header .path {
    color: gray;
    display: flex;
    text-transform: capitalize;
}

.active-component-header .path .path-link {
    text-decoration: underline;
    color: gray;
    text-transform: capitalize;
}

.active-component-header h1 {
    text-transform: uppercase;
}

