.Dashboard {
    box-sizing: border-box;
    padding: 0 20px;
}

.Dashboard .Bots {
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    .Dashboard .Bots {
        padding-left: 0;
    }
}