.Fandom-Bot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.Fandom-Bot .card-container .card-link {
    text-decoration: none;
    border: 2px solid red;
}