.LoginView {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginView .login-form {
    width: 400px;
    /* height: 500px; */
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: wheat;
    padding-top: 50px;
    box-sizing: border-box;
}

.login-form h1 {
    margin-bottom: 50px;
}

.login-form input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid wheat;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    color: wheat;
    width: 70%;
}

::placeholder {
    color: wheat;
}

.login-form button {
    background-color: rgba(0, 0, 0, 0);
    color: wheat;
    font-size: 24px;
    width: 70%;
    border: 1px solid wheat;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 70px;
}

.login-form button:hover {
    background-color: wheat;
    color: black;
}

.LoginView .show-error {
    visibility: visible;
    top: -150px;
    opacity: 1;
    transition: 0.5s;
}


.LoginView .hide-error {
    visibility: hidden;
    opacity: 0;
    top: -200px;
    transition: 0.5s;
}

.LoginView .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: black;
    padding: 15px 50px;
    font-size: 18px;
    background-color: rgba(223, 73, 73, 0.5);
    border: 3px solid rgba(236, 43, 43, 0.7);
    transition: 0.5s;
}

.LoginView .error-message svg {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: black;
    margin-top: 1px;
    margin-right: 5px;
}