.active-component-header {
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.check-profile {
    padding: 0;
    margin: 0;
    width: 105px;
}

.check-profile .profile-button {
    border: 1px solid rgb(111, 115, 218);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 14px;
    padding: 8px 12px;
    color: rgb(111, 115, 218);
    text-decoration: none;
}

.check-profile .profile-button:hover {
    background-color: rgb(111, 115, 218, 0.2);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar p {
    padding-left: 10px;
    margin-bottom: 3px;
}

.search {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

.search:focus {
    outline: none;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 60vh;
}

.loading-bar {
    display: inline-block;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: black;
    animation-name: loading-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading-bar:nth-child(1){
    animation-delay: 0s;
}

.loading-bar:nth-child(2){
    animation-delay: 0.125s;
}

.loading-bar:nth-child(3){
    animation-delay: 0.25s;
}

.loading-bar:nth-child(4){
    animation-delay: 0.375s;
}

@keyframes loading-animation {
    0% {height: 20px;}
    25% {height: 30px;}
    50% {height: 40px;}
    75% {height: 30px;}
    100% {height: 20px;}
}

.fl {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px 0.1px #181818;    
    justify-content: flex-end;
}

.pagination button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.pagination p{
    margin-right: 13px;
}


.pagination button svg {
    width: 15px;
}

.pagination button:hover {
    background-color: lightgray;
}

.pages {
    margin-right: 20px;
    font-size: 16px;
    padding-left: 10px;
}