.uid-profile {
    margin: 0 20px;
}

.profile-info .discord-info p{
    color: gray;
    font-size: 12px;
    line-height: 10px;
}

.profile-info .today-luck-info, .inventory-info {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

.profile-info .today-luck-data {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.profile-info .today-luck-data .lucky-data {
    padding: 10px 50px;
}

.profile-info .inventory-info .koen-info, .letter-event{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px 50px;
}



.profile-info .inventory-info .koen-info img {
    width: 30px;
    height: 30px;
}
