.question-component {
    border: 1px solid black;
    margin: 10px 0;
    padding: 25px;
    display: flex;
}

.question-component .question-image {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-component .question-image img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-sizing: border-box;
    background-image: url("../static/expired.png");
}

.question-component .question-data {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.question-component .question-data .question-details p:first-child{
    font-size: 24px;
    font-weight: 600;
}

.question-component .question-data .question-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.question-component .question-data .question-footer .check-asnwer-button {
    color: green;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid green;
    font-size: 14px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 500;
}

.question-component .question-data .question-footer .check-asnwer-button:hover {
    background-color: rgba(7, 120, 7, 0.3);
}

.question-component .question-data .question-footer p {
    color: gray;
    font-weight: 500;
}

@media only screen and (max-width: 1150px) {
    .question-component .question-data .question-footer {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    .question-component .question-image {
        width: 200px;
        height: 200px;
    }
    
    .question-component .question-image img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 550px) {
    .question-component {
        flex-direction: column;
    }
}

.add-question-div {
    display: flex;
    align-items: center;
    justify-content: end;
}

.add-question-div .add-question-button{
    background-color: rgba(64, 231, 64, 0.3);
    border-color: rgba(64, 231, 64, 0.7);
    border-width: 3px;
    outline: none;
    border-style: solid;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.add-question-div .add-question-button:focus {
    color: black;
}