.Questions-component .add-question-div {
    display: flex;
    align-items: center;
    justify-content: end;
}

.Questions-component .add-question-div .add-question-button{
    background-color: rgba(64, 231, 64, 0.3);
    border-color: rgba(64, 231, 64, 0.7);
    border-width: 3px;
    outline: none;
    border-style: solid;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: black1;
}