.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
    letter-spacing: 0.5px;
    z-index: 5;
}

.navbar {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);   
}

.navbar .navbar-menu {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}

.navbar .navbar-menu .lines,
.navbar .navbar-menu .lines::before,
.navbar .navbar-menu .lines::after {
    content: "";
    background-color: black;
    width: 35px;
    height: 4px;
    transition: 0.5s;

}

.navbar .navbar-menu .lines{
    position: relative;
}

.navbar .navbar-menu .active {
    background-color: rgba(0, 0, 0, 0);
}

.navbar .navbar-menu .active::before {
    background-color: rgba(0, 0, 0, 1);
    top: 0 !important;
    transform: rotate(45deg);
}

.navbar .navbar-menu .active::after {
    background-color: rgba(0, 0, 0, 1);
    top: 0 !important;
    transform: rotate(-45deg);
}

.navbar .navbar-menu .lines::after {
    position: absolute;
    top: 10px;
}

.navbar .navbar-menu .lines::before {
    position: absolute;
    top: -10px;
}

.navbar .sidebar_title {
    font-size: 40px;
    margin-left: 20px;
}

.sidebar .sidebar_title {
    display: block;
    color: #181818;
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
}

.sidebar .sidebar_category {
    margin-top: 20px;
    color: gray;
}

.sidebar .sidebar_subcategory {
    margin-left: 20px;
    font-size: 24px;
}

.sidebar .sidebar_link {
    cursor: pointer;
    padding: 10px 0;
    margin-left: 20px;
    color: #646870;
    display: flex;
    border-radius: 10px;
    margin-right: 8px;
    text-decoration: none;
    margin-top: 8px;
    transition: 0.1s;
    font-size: 18px;
}

.sidebar .sidebar_link svg{
    fill: #646870;
    margin: 0;
    padding-left: 10px;
}

.sidebar .sidebar_link:hover, .sidebar .sidebar_link:hover svg {
    background-color: #3ba8db;
    fill: #e4ede6;
    color: #e4ede6;
}


.sidebar .sidebar_link p {
    line-height: 24px;
    margin: 0;
    padding-left: 15px;
}

.sidebar .active, .sidebar .active svg {
    background-color: #3ba8db;
    fill: #e4ede6;
    color: #e4ede6; 
}

@media only screen and (max-width : 900px) {
    .sidebar {
        left: -100%;
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        z-index: 5;
        margin-top: 65px;
        padding-top: 0;
        transition: 0.5s left;
    }
    
    .sidebar .sidebar_title {
        display: none;
    }
    
    .sidebar .sidebar_category {
        width: 100%;
        margin-top: 20px;
        color: gray;  
    }
    
    .navbar {
        display: flex;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }
}