.graph-limit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.graph-limit-buttons button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 8px 21px;
    transition: 0.2s;
}

.graph-limit-buttons button:hover{
    background-color: rgba(75,192,192,0.3);
}

.graph-limit-buttons .active-button{
    background-color: rgba(75,192,192,0.7);
}
