.Profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.profile-content { 
    width: 70%;
    height: 100vh;
    background-color: #f2fbff;
    padding: 5% 5%; 
}

.my-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table td, .my-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.my-table tr:nth-child(even) {
    background-color: #dddddd;
}