@font-face {
  font-family: "refrigerator_deluxe_bold";
  src: url('src/static/refrigerator_deluxe_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "refrigerator_deluxe_regular";
  src: url('src/static/refrigerator_deluxe_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'refrigerator_deluxe_bold', serif;


  --abfont: #ffffff

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { 
  margin: 0;
}